@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.header img {
  width: 100%;
  height: 40px;
}

.header .plus {
  font-weight: light;
  color: #757575;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.input-container {
  width: 100%;
  max-width: 450px;
}

.input-container form {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  width: 100%;
}

.input-container input,
.input-container textarea {
  width: 100%;
  display: block;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  letter-spacing: normal;
  font-family: "Roboto", sans-serif;
  color: #202124;
}

.input-container input {
  font-size: 1.2rem;
}

.input-container textarea {
  resize: none;
  line-height: 1.5;
  min-height: 5em;
  max-height: 50vh;
  width: 100%;
  font-weight: 500;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

form button {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 180px;
  cursor: pointer;
  font-size: 2rem;
  line-height: 2rem;
  font-family: "Roboto", sans-serif;
  background-color: #fbbc04;
  border: 2px solid transparent;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

form button:hover {
  background-color: #f7ab02;
  /* boder: 2px solid #fbbc04; */
}

form button:active {
  background-color: #f29900;
  /* border: 2px solid #f29900; */
}

form button:focus {
  border: 2px solid #f29900;
}

.note-list-container {
  flex: 1;
  width: 100%;
  padding-top: 2rem;
}

.note-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.note {
  background: #ffffff;
  border-radius: 8px;
  padding: 1rem 1rem 0.5rem;
  /* box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%); */
  width: 100%;
  font-weight: bold;
  color: #202124;
}

.note .title {
  font-size: 1.1rem;
  font-weight: 800;
}

.note .content {
  font-weight: 500;
  margin-top: 0.5rem;
}

.note:hover {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.delete {
  display: flex;
  justify-content: flex-end;
}

.delete span {
  padding: 0.4rem;
  border-radius: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.delete span:hover {
  background: #f0f0f0;
}

.delete-icon {
  width: 20px;
  height: 20px;
}

/* FOOTEER */
.footer {
  font-size: 14px;
  padding: 0.5rem 0;
  font-style: italic;
  color: #757575;
}

/* MEDIA QUERIS */
@media screen and (min-width: 600px) {
  .note-list {
    grid-template-columns: 1fr 1fr;
  }
}
